body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: clamp(200px, 30%, 800px);
    margin: 0 auto;
}
.navbar {
    position: fixed;
    display: flex;
    background: #f2c7ff;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 auto;
    width: clamp(200px, 30%, 800px);
    justify-content: space-between;
    align-items: center;
    bottom: 10;
    left: 0;
    right: 0;
    z-index: 9999;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menuItem {
    margin: 0 15px;
}
.title {
    display: flex;
    justify-content: center;
}
.profileImage {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 5px;
}
.profileBar {
    display: flex;
    flex-direction: row;
    position: relative;
}
.accountHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.accountAnalytics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-right: auto;
}
.profileText {
    margin-top: 5;
    margin-bottom: 5;
}
.counts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}