<!--
    File: dadjokes/all_jokes.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 06/10/2026
    Description: Display all jokes
-->

{% extends 'dadjokes/base.html' %}

{% block content %}
<div class="list">
    {% for joke in jokes %}
        <a href="{% url 'joke' joke.pk %}" class="link">
            <div class="card">
                <p class="cardMainText">{{ joke.text }}</p>
                <p class="cardSecondaryText"><small>Added by {{ joke.name }}</small></p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}