{% extends 'quotes/base.html' %}

{% block content %}
<div>
    <div>
        <img src={{img}} class="quoteImage">
    </div>
    <div>
        <h2>About Kyrie Irving</h2>
        <p>
            Kyrie Irving is an esteemed NBA player with a decorated professional basketball career. 
            Beyond having some of the best handles in the NBA, he also has great insights on self fulfillment
            and understanding that often times your worst enemy is your own mind. Because of this, many find him
            to be inspirational, not only through his basketball talent and skill, but because of his understanding
            of the struggles faced by many people in many situations.
        </p>
        <h2>About Me</h2>
        <p>
            I believe that Kyrie Irvings beliefs regarding self enlightenment are a great way to feel at peace 
            with the fast paced world surrounding us. As such I chose to shared his quotes with this website.
        </p>
    </div>
</div>
{% endblock %}