<!--
    File: mini_insta/base.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 5/22/2026
    Description: Base template
-->

{% load static %}

<html>
    <head>
        <title>Instagram</title>
        <link rel="stylesheet" href="{% static 'styles-mini-insta.css' %}">
    </head>
    <body>
        <!--Instagram title across all pages-->
        <header class="topbar"><h2 class="title">Instagram</h2></header>
        <!--Main content dynamically loaded based on route and template-->
        <main class="page">
            {% block content %}
            {% endblock %}
        </main>
        <!--Navigation bar with home button, and create post button in each profilr-->
        <nav class="navbar">
            <ul class="menu">
                {% if profile %}
                <li class="menuItem"><a href="{% url 'show_feed' profile.pk %}">
                    <img src="https://www.freeiconspng.com/uploads/home-button-png-icon-30.png" width="25" height="25">
                </a></li>
                <li class="menuItem"><a href="{% url 'create_post_form' profile.pk%}">
                    <img src="https://www.freepnglogos.com/uploads/plus-icon/file-plus-font-awesome-svg-wikimedia-commons-10.png" width="25" height="25">
                </a></li>
                <li class="menuItem"><a href="{% url 'profile' profile.pk%}">
                    <img src="{{profile.profile_image_url}}" width="25" height="25" class="profileImageNav">
                </a></li>
                <li class="menuItem"><a href="{% url 'search' profile.pk%}">
                    <img src="https://www.freeiconspng.com/uploads/search-icon-png-21.png" width="25" height="25">
                </a></li>
                {% else %}
                <li class="menuItem"><a href="{% url 'home' %}">
                    <img src="https://www.freeiconspng.com/uploads/home-button-png-icon-30.png" width="25" height="25">
                </a></li>
                {% endif %}
            </ul>
        </nav>
    </body>
</html>