<!--
    File: mini_insta/create_profile_form.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 6/06/2026
    Description: Form for creating a new profile
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="formWrapper">
    <h2>Create a new profile</h2>
    <form action="{% url 'create_profile' %}" method="POST" enctype="multipart/form-data" class="createForm">
        {% csrf_token %}
        <!--Form for creating a profile, looping through fields for styling-->
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <!--Form for creating a user, looping through fields for styling-->
        {% for field in create_user %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Create">
        <input type="hidden" name="next" value="{% url 'home' %}">
    </form>
</div>
{% endblock %}