<!--
    File: mini_insta/login.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 6/06/2026
    Description: Show login page
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="formWrapper">
    <h2>Login</h2>
    <!--Form for logging in-->
    <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data" class="createForm">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Login">
        <!--Define next url-->
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% else %}
        <input type="hidden" name="next" value="{% url 'show_feed' %}">
        {% endif %}
    </form>
    <p>Don't have an account? Create one <a href="{% url 'create_profile' %}">here</a></p>
</div>
{% endblock %}