<!--
    File: mini_insta/show_profile.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 5/22/2026
    Description: Show individual profile
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="main">
    <!--Account header and posts-->
    <div class="profileHeaderPosts">
        <!--Account header with profile pictures and analytics-->
        <div class="accountHeader">
            <div class="profile">
                <div>
                    <img src="{{other_profile.profile_image_url}}" width="100" class="profileImage">
                    {% if request.user.is_authenticated and request.user == other_profile.user %}
                    <div class="edits">
                        <a href="{% url 'update_profile' %}" class="button secondary">Update</a>
                    </div>
                    {% endif %}
                </div>
                <h3 class="profileText">{{other_profile.display_name}}</h3>
                <p class="profileText">{{other_profile.username}}</p>
                <p class="profileText"><small>{{other_profile.bio_text}}</small></p>
                <!--If user is authenticated they can follow or unfollow other users-->
                {% if request.user.is_authenticated and request.user != other_profile.user %}
                {% if other_profile.pk in follows %}
                <form action="{% url 'delete_follow' other_profile.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" value="Unfollow" class="unfollow">
                </form>
                {% else %}
                <form action="{% url 'follow' other_profile.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" value="Follow" class="follow">
                </form>
                {% endif %}
                {% endif %}
            </div>
            <!--Account post, followers, and following analytics-->
            <div class="accountAnalytics">
                <div class="counts">
                    <h2 class="profileText">{{other_profile.get_all_posts|length}}</h2>
                    <p class="profileText">Posts</p>
                </div>
                <div class="counts">
                    <a href="{% url 'show_followers' other_profile.pk %}">
                        <h2 class="profileText">{{other_profile.get_num_followers}}</h2>
                        <p class="profileText">Followers</p>
                    </a>
                </div>
                <div class="counts">
                    <a href="{% url 'show_following' other_profile.pk %}">
                        <h2 class="profileText">{{other_profile.get_num_following}}</h2>
                        <p class="profileText">Following</p>
                    </a>
                </div>
            </div>
        </div>
        <!--Account posts-->
        <div class="postsGrid">
            {% for post in other_profile.get_all_posts %}
                {% if not post.get_all_photos %}
                    <a href="{% url 'show_post' post.pk %}" class="postTile">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/3840px-No_image_available.svg.png" alt="Post photo">
                    </a>
                {% else %}
                {% for photo in post.get_all_photos %}
                    {% if forloop.first %}
                        <a href="{% url 'show_post' post.pk %}" class="postTile">
                            <img src="{{ photo.get_image_url }}" alt="Post photo">
                        </a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}