<!--
    File: mini_insta/show_profile.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 5/22/2026
    Description: Show individual profile
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="main">
    <!--Account header and posts-->
    <div class="profileHeaderPosts">
        <!--Account header with profile pictures and analytics-->
        <div class="accountHeader">
            <div class="profile">
                <img src="{{profile.profile_image_url}}" width="100" class="profileImage">
                <h3 class="profileText">{{profile.display_name}}</h3>
                <p class="profileText">{{profile.username}}</p>
                <p class="profileText"><small>{{profile.bio_text}}</small></p>
            </div>
            <!--Account post, followers, and following analytics-->
            <div class="accountAnalytics">
                <div class="counts">
                    <h2 class="profileText">{{profile.get_all_posts|length}}</h2>
                    <p class="profileText">Posts</p>
                </div>
                <div class="counts">
                    <h2 class="profileText">TBD</h2>
                    <p class="profileText">Followers</p>
                </div>
                <div class="counts">
                    <h2 class="profileText">TBD</h2>
                    <p class="profileText">Following</p>
                </div>
            </div>
        </div>
        <!--Account posts-->
        <div class="postsGrid">
            {% for post in profile.get_all_posts %}
                {% for photo in post.get_all_photos %}
                    {% if forloop.first %}
                        <a href="{% url 'show_post' post.pk %}" class="postTile">
                            <img src="{{ photo.get_image_url }}" alt="Post photo">
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}