
<!--
    File: sipy/base.html
    Author: Senthilvel Nithin (nsent01@bu.edu), 6/15/2026
    Description: Base html template for generic list views of data models
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard meta tags for devide width view ports, page title, and stylesheet-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} | Sipy</title>
    <link rel="stylesheet" href="{% static 'styles-sipy.css' %}">
</head>
<body>
    <header>
        <!-- Standard top nav bar with routes to all data model list views-->
        <div class="shell topbar">
            <h1>{{ page_title }}</h1>
            <nav>
                <a href="{% url 'profile_list' %}">Profiles</a>
                <a href="{% url 'cafe_list' %}">Cafes</a>
                <a href="{% url 'drink_list' %}">Drinks</a>
                <a href="{% url 'ranking_list' %}">Rankings</a>
                <a href="{% url 'want_to_try_list' %}">Want To Try</a>
                <a href="{% url 'follow_list' %}">Follows</a>
                <a href="{% url 'like_list' %}">Likes</a>
                <a href="{% url 'comment_list' %}">Comments</a>
            </nav>
        </div>
    </header>
    <main class="shell">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
